<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1250">
    <meta name="keywords" content="sap, training, tutorials, errors" />
	<meta name="description" content="All for SAP consultants" />
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <title>Sign up</title>
  </head>
 
  
    
    <body>
   	
   
   	<!-- --------------------------------------------------- WHOLE PAGE ---------------------------------------------------------------- -->
   	<div id="wrapper">
   
		   	<!-- ------------------------------------------ HEADER MENU --------------------------------------------------------------- -->
		  	<div id="header-wrapper">
				<div id="header" class="container">
					<div id="logo">
						<h1><a href="#">BizAnalyst.info</a></h1>
					</div>
					<div id="menu">
						<ul>
							<li class="active"><a href="/" accesskey="1" title="">Homepage</a></li>
							<!-- PENDING TO ADD ------------------------------------------------------------------
							<li><a href="/signup" accesskey="2" title="">Sign up</a></li>
							<li><a href="/signin" accesskey="3" title="">Sign in</a></li>
							<li><a href="#" accesskey="4" title="">About Us</a></li>
							<li><a href="#" accesskey="5" title="">Contact Us</a></li> -->
						</ul>
					</div>
				</div>
			</div>
  			<!-- ------------------------------------------- END HEADER MENU --------------------------------------------------------- -->
  			
  			<!-- ------------------------------------------- CONTENT ----------------------------------------------------------------- -->
  			<div id="page" class="container">
  			
  				<!-- ------------------------------ SIGN UP FORM ------------------------------- -->
				<div id="content">
					<div id="box1">
						<h2 class="title"><a href="#">Sign up</a></h2>
						
						<form method="post">
					      <table>
					        <tr>
					          <td class="label">
					            Username
					          </td>
					          <td>
					            <input type="text" name="username" value={{username}}>
					          </td>
					          <td class="error">
					            {{error_username}}
					          </td>
					        </tr>
					
					        <tr>
					          <td class="label">
					            Password
					          </td>
					          <td>
					            <input type="password" name="password" value="">
					          </td>
					          <td class="error">
					            {{error_password}}  
					          </td>
					        </tr>
					
					        <tr>
					          <td class="label">
					            Verify Password
					          </td>
					          <td>
					            <input type="password" name="verify" value="">
					          </td>
					          <td class="error">
					            {{error_verify}}  
					          </td>
					        </tr>
					
					        <tr>
					          <td class="label">
					            Email (optional)
					          </td>
					          <td>
					            <input type="text" name="email" value={{email}}>
					          </td>
					          <td class="error">
					            {{error_email}} 
					          </td>
					        </tr>
					      </table>
					
					      <input type="submit">
					    </form>
						
					</div>
				</div>
			</div>
			
				<!-- ------------------------------ END MAIN BOX ------------------------------- -->
				
				
				
				
									
				<div id="footer">
					
					<p>Esta es una versión Beta, BIXFactors no se hace responsable del uso de la información recogida de este site. 
			    	
			    	<br>
			    	
			    	
					<p>Copyright (c) 2013 bixfactors.com. Todos los derechos reservados. Design by <a href="http://www.freecsstemplates.org">FCT</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
				</div>

	
	</div>
  
  
  
  
    

  </body>
</html>